body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.page-header{
	text-align: center;
	
}

.img-responsive2 {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.nav-pills li {
    margin-left: 20px; //use whatever you want
} 

.nav-pills a {
    //use font-family and font-size to change font and size of it.
} 


#wrap {
min-height: 100%;
}
 
#main {
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/

}
 
.footer {
position: relative;
margin-top: -150px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:20px;
background-color: black;
color: white;

}

